<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Empoyee</h3>
    </div>
    <div class="panel-body">
      <div class="form-group" [class.has-error]="fullNameControl.invalid &&
        fullNameControl.touched"
        [class.has-success]="fullNameControl.valid">
        <label for="name" class="control-label">Name</label>
        <input type="text" name="name" [(ngModel)]="employee.name"
          #fullNameControl="ngModel" id="name" class="form-control"
          placeholder="" required>
        <span *ngIf="fullNameControl.invalid && fullNameControl.touched"
          class="help-block">Invalid name</span>
      </div>

      <div class="form-group" [class.has-error]="fullNameControl.invalid &&
        fullNameControl.touched"
        [class.has-success]="fullNameControl.valid">
        <label for="surname" class="control-label">Surname</label>
        <input type="text" name="surname" [(ngModel)]="employee.surname"
          #fullNameControl="ngModel" id="surname" class="form-control"
          placeholder="" required>
        <span *ngIf="fullNameControl.invalid && fullNameControl.touched"
          class="help-block">Invalid name</span>
      </div>

      <div class="form-group">
        <label>Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" value="male" name="gender"
              [(ngModel)]="employee.gender"> Male
          </label>
          <label class="radio-inline">
            <input type="radio" value="female" name="gender"
              [(ngModel)]="employee.gender"> Female
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="state" class="control-label">
          State
        </label>
        <select id="state" name="state" #state="ngModel"
          [(ngModel)]="stateId" class="form-control"
          appSelectValidator="select" (change)="FillCityDDL();">
          <option value="select">Select State</option>
          <option *ngFor="let state of allStates" [value]="state.Id">{{state.Name}}</option>
        </select>
        <span class="help-block" *ngIf="state.touched &&
          state.errors?.defaultSelected">
          State is required
        </span>
      </div>

      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>
        <select id="city" name="city" #city="ngModel"
          [(ngModel)]="employee.city" class="form-control"
          appSelectValidator="select">
          <option value="select">Select City</option>
          <option *ngFor="let c of allCities" [value]="c.Id">{{c.Name}}</option>
        </select>
        <span class="help-block" *ngIf="city.touched &&
          city.errors?.defaultSelected">
          City is required.
        </span>
      </div>

      <div class="row">
        <div class="form-group col-md-5">
          <label for="dateOfBirth">
            Date Of Birth
          </label>
          <input type="text" bsDatepicker [bsConfig]="datePickerConfig"
            name="dateOfBirth" id="dateOfBirth"
            [(ngModel)]="dateOfBirth" class="form-control"
            (blur)="onDateChange()">
          <!-- <span *ngIf="employeeForm.value['dateOfBirth'] < 100"
            class="help-block">Invalid name</span> -->
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-primary"
        [disabled]="employeeForm.invalid">Save</button>
    </div>
  </div>
</form>
{{employeeForm.value | json}}
<br />
{{employee| json}}